:root{
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
    --secondary-color: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
}
body,html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--primary-color);
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.login-container{
    width: 450px;
    height: 450px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 15%;
}
.login-container button {
    font-size: 1.2rem;
    padding: 0.5rem;
}
.input-block{
    padding: 2rem;
}
.input-block input{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.cadastro{
    margin-top: 1.2rem;
    text-decoration-line: underline;
    cursor: pointer;
    color: rgb(59, 123, 219);
}